[submodule "external/REAP"]
	path = external/REAP
	url = git@github.com:ShuklaGroup/REAP-ReinforcementLearningBasedAdaptiveSampling.git
[submodule "external/BoltzmannGenerator"]
	path = external/BoltzmannGenerator
	url = git@github.com:noegroup/bgflow.git
[submodule "external/SPIB"]
	path = external/SPIB
	url = git@github.com:tiwarylab/State-Predictive-Information-Bottleneck.git
[submodule "external/umap"]
	path = external/umap
	url = git@github.com:lmcinnes/umap.git
