###latex

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync


.ipynb*

# external/*

__pycache__

.ipynb_checkpoints
.pytest_cache

.vscode/launch.json
.vscode/settings.json
.gitignore


src/Test*
TestASEMDCP2K.e*
TestASEMDCP2K.o*
cp2k-RESTART.kp*

core.*
cp2k.inp
cp2k_restart.traj
cp2k_params.ase
cp2k_results.json

.vscode*
data.pt
target_sampler.pt
target.pt
